/**{
    margin:0px;
    padding:0px;
    border: none;
    text-align:center;
    font-family: Arial;
    font-size: 16px;
}
img{
    background:transparent;
}
table{
    border-spacing: 0px;
    line-height: 0px;
}
body{
    padding: 20px;
    overflow-y:scroll;
    width: 80%;
    margin: auto;
    background: #ddd;
}
body > *{
    margin:auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 30px;
    display: block;
}
a{
    display:block;
    text-align:center;
    text-decoration: none;
    color: #22d;
}
a.button {
    background: #ccc;
    padding: 8px;
    display: inline-block;
}
a.button:hover {
    background: #aaa;
}
a.active {
    background: #aaa;
}*/
textarea {
    font-family: monospace;
    text-align: left;
}

.field {
    position: relative;
}
.field > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
}
#board td, .editor td {
    width: 70px;
    height: 70px;
}
.card {
    min-width: 300px;
}